<div class="container">
  <section>
    <div class="title">
      <h2>Form Pengajuan Trade In</h2>
    </div>
  </section>
  <section>
    <form [formGroup]="dataKendaraan" id="formTradeIn" (ngSubmit)="submit02()" enctype="multipart/form-data">
      <!--      <ul id="progressbar">-->
      <!--        <li [ngClass]="step>=1 ? 'active ' : 'inactive'">Pengajuan Trade In</li>-->
      <!--        <li [ngClass]="step>=2 ? 'active' : 'inactive'">Detail Kendaraan</li>-->
      <!--        <li [ngClass]="step==3 ? 'active' : 'inactive'">Detail Konsumen</li>-->
      <!--      </ul>-->

      <fieldset *ngIf="step == 1">
        <h2>Data Kendaraan</h2>

        <label class="form-label">Merk Kendaraan
          <div *ngIf="dataKendaraan_step && dataKendaraan.controls.merk.errors">
            <div *ngIf="kendaraan.merk.errors?.required" class="required">*Merk kendaraan wajib diisi</div>
          </div>
        </label>
        <!--        <select formControlName="merk" [(ngModel)]="selectedMerk">-->
        <select formControlName="merk" [(ngModel)]="dataKonsumen.merk">
          <option value="" selected hidden="until-found">Pilih merk mobil</option>
          <option *ngFor="let item of formMerk" value="{{item.merk}}">{{item.merk}}</option>
        </select>


        <label class="form-label">Model
          <div *ngIf="dataKendaraan_step && dataKendaraan.controls.model.errors">
            <div *ngIf="kendaraan.model.errors?.required" class="required">*Model wajib diisi</div>
          </div>
        </label>
        <!--        <input type="text" formControlName="model" [(ngModel)]="ngModel"-->
        <input type="text" formControlName="model" [(ngModel)]="dataKonsumen.model"
               [ngClass]="{ 'is-invalid': dataKendaraan_step && kendaraan.model.errors }"
               placeholder="Mis: Brio, CX-5, Innova"/>


        <label class="form-label">Tahun
          <div *ngIf="dataKendaraan_step && dataKendaraan.controls.tahun.errors">
            <div *ngIf="kendaraan.tahun.errors?.required" class="required">*Tahun wajib diisi</div>
          </div>
        </label>
        <!--        <input type="number" formControlName="tahun" [(ngModel)]="ngTahun"-->
        <input type="number" formControlName="tahun" [(ngModel)]="dataKonsumen.tahun"
               [ngClass]="{ 'is-invalid': dataKendaraan_step && kendaraan.tahun.errors }" placeholder="Mis: 2018"/>


        <label class="form-label">Nomor Polisi
          <div *ngIf="dataKendaraan_step && dataKendaraan.controls.nopol.errors">
            <div *ngIf="kendaraan.nopol.errors?.required" class="required">*Nomor Polisi wajib diisi</div>
          </div>
        </label>
        <!--        <input type="text" formControlName="nopol" [(ngModel)]="ngNopol"-->
        <input type="text" formControlName="nopol" [(ngModel)]="dataKonsumen.noPol"
               [ngClass]="{ 'is-invalid': dataKendaraan_step && kendaraan.nopol.errors }" placeholder="Mis: B 1234 DE"/>


        <label class="form-label">Warna
          <div *ngIf="dataKendaraan_step && dataKendaraan.controls.warna.errors">
            <div *ngIf="kendaraan.warna.errors?.required" class="required">*Warna wajib diisi</div>
          </div>
        </label>
        <!--        <input type="text" formControlName="warna" [(ngModel)]="ngWarna"-->
        <input type="text" formControlName="warna" [(ngModel)]="dataKonsumen.warna"
               [ngClass]="{ 'is-invalid': dataKendaraan_step && kendaraan.warna.errors }" placeholder="Mis: Merah"/>


        <label class="form-label">Transmisi
          <div *ngIf="dataKendaraan_step && dataKendaraan.controls.transmisi.errors">
            <div *ngIf="kendaraan.transmisi.errors?.required" class="required">*Transmisi wajib diisi</div>
          </div>
        </label>
        <!--        <select formControlName="transmisi" [(ngModel)]="ngTransmisi"-->
        <select formControlName="transmisi" [(ngModel)]="dataKonsumen.transmisi"
                [ngClass]="{ 'is-invalid': dataKendaraan_step && kendaraan.transmisi.errors }">
          <option value="" selected hidden="until-found">Pilih jenis transmisi</option>
          <option value="A/T">A/T</option>
          <option value="Manual">Manual</option>
        </select>


        <label class="form-label">Kilometer
          <div *ngIf="dataKendaraan_step && dataKendaraan.controls.kilometer.errors">
            <div *ngIf="kendaraan.kilometer.errors?.required" class="required">*Kilometer wajib diisi</div>
          </div>
        </label>
        <!--        <input type="text" formControlName="kilometer" [(ngModel)]="ngKilometer"-->
        <input type="text" formControlName="kilometer" [(ngModel)]="tempKilo" (keyup)="formatKilometer()"
               [ngClass]="{ 'is-invalid': dataKendaraan_step && kendaraan.kilometer.errors }" placeholder="Mis: 72900"/>


        <label class="form-label">Masa Berlaku STNK
          <div *ngIf="dataKendaraan_step && dataKendaraan.controls.datestnk.errors">
            <div *ngIf="kendaraan.datestnk.errors?.required" class="required">*Masa berlaku STNK wajib diisi</div>
          </div>
        </label>
        <!--        <input type="date" formControlName="datestnk" [(ngModel)]="ngStnk"-->
        <input type="date" formControlName="datestnk" [(ngModel)]="dataKonsumen.stnk"
               [ngClass]="{ 'is-invalid': dataKendaraan_step && kendaraan.datestnk.errors }"/>

        <label class="form-label">Apakah ada Kunci Cadangan?</label><br>
<!--        <div *ngIf="dataKendaraan_step && dataKendaraan.controls.kunciCadangan.errors">-->
<!--          <div *ngIf="kendaraan.kunciCadangan.errors?.required" class="required">*Kunci Cadangan wajib dipilih</div>-->
<!--        </div>-->
        <input class="form-check-input" type="radio" name="radioKunci" id="radioKunci" value="Ada"
               formControlName="radioKunci" [(ngModel)]="dataKonsumen.kunciCadangan">
        <label class="form-check-label" for="flexRadioDefault2">&nbsp;Ada</label><br>
        <input class="form-check-input" type="radio" name="radioKunci" id="radioKunci" value="Tidak"
               formControlName="radioKunci" [(ngModel)]="dataKonsumen.kunciCadangan">
        <label class="form-check-label" for="flexRadioDefault3">&nbsp;Tidak</label><br>

        <label class="form-label">Apakah ada Buku Manual?</label><br>
        <input class="form-check-input" type="radio" name="radioManual" id="radioManual" value="Ada"
               formControlName="radioManual" [(ngModel)]="dataKonsumen.bukuManual">
        <label class="form-check-label" for="flexRadioDefault2">&nbsp;Ada</label><br>
        <input class="form-check-input" type="radio" name="radioManual" id="radioManual" value="Tidak"
               formControlName="radioManual" [(ngModel)]="dataKonsumen.bukuManual">
        <label class="form-check-label" for="flexRadioDefault3">&nbsp;Tidak</label><br>

        <label class="form-label">Apakah ada Buku Service?</label><br>
        <input class="form-check-input" type="radio" name="radioService" id="radioService" value="Ada"
               formControlName="radioService" [(ngModel)]="dataKonsumen.bukuService">
        <label class="form-check-label" for="flexRadioDefault2">&nbsp;Ada</label><br>
        <input class="form-check-input" type="radio" name="radioService" id="radioService" value="Tidak"
               formControlName="radioService" [(ngModel)]="dataKonsumen.bukuService">
        <label class="form-check-label" for="flexRadioDefault3">&nbsp;Tidak</label><br><br>

        <label class="form-label">Deskripsi
          <div *ngIf="dataKendaraan_step && dataKendaraan.controls.deskripsi.errors">
            <div *ngIf="kendaraan.deskripsi.errors?.required" class="required">*Deskripsi wajib diisi</div>
          </div>
        </label>
        <!--        <textarea formControlName="deskripsi" rows="5" [(ngModel)]="ngDeskripsi"-->
        <textarea formControlName="deskripsi" rows="5" [(ngModel)]="dataKonsumen.deskripsi"
                  [ngClass]="{ 'is-invalid': dataKendaraan_step && kendaraan.deskripsi.errors }"
                  placeholder="Mis: Mulus, Bekas tabrak, Ac mati">
        </textarea>

        <input (click)="next()" type="button" name="next" class="next action-button" value="Selanjutnya"/>

      </fieldset>

      <fieldset *ngIf="step == 2" [formGroup]="detailKendaraan">
        <h2>Upload Foto Detail Kendaraan</h2>


        <label class="form-label">Tampak Depan
          <div *ngIf="detailKendaraan_step && detailKendaraan.controls.depan.errors">
            <div *ngIf="detail.depan.errors?.required" class="required">*Silahkan upload foto tampak depan kendaraan
              anda
            </div>
          </div>
        </label>
        <input type="file" formControlName="depan"
               [ngClass]="{ 'is-invalid': detailKendaraan_step && detail.depan.errors }"
               (change)="onChangeTampakDepan($event)"/>


        <label class="form-label">Tampak Belakang
          <div *ngIf="detailKendaraan_step && detailKendaraan.controls.belakang.errors">
            <div *ngIf="detail.belakang.errors?.required" class="required">*Silahkan upload foto tampak belakang
              kendaraan
              anda
            </div>
          </div>
        </label>
        <input type="file" formControlName="belakang"
               [ngClass]="{ 'is-invalid': detailKendaraan_step && detail.belakang.errors }"
               (change)="onChangeTampakBelakang($event)"/>


        <label class="form-label">Tampak Samping Kanan
          <div *ngIf="detailKendaraan_step && detailKendaraan.controls.kanan.errors">
            <div *ngIf="detail.kanan.errors?.required" class="required">*Silahkan upload foto tampak samping kanan
              kendaraan anda
            </div>
          </div>
        </label>
        <input type="file" formControlName="kanan"
               [ngClass]="{ 'is-invalid': detailKendaraan_step && detail.kanan.errors }"
               (change)="onChangeTampakKanan($event)"/>


        <label class="form-label">Tampak Samping Kiri
          <div *ngIf="detailKendaraan_step && detailKendaraan.controls.kiri.errors">
            <div *ngIf="detail.kiri.errors?.required" class="required">*Silahkan upload foto tampak samping kiri
              kendaraan
              anda
            </div>
          </div>
        </label>
        <input type="file" formControlName="kiri"
               [ngClass]="{ 'is-invalid': detailKendaraan_step && detail.kiri.errors }"
               (change)="onChangeTampakKiri($event)"/>


        <label class="form-label">Tampak Interior
          <div *ngIf="detailKendaraan_step && detailKendaraan.controls.interior.errors">
            <div *ngIf="detail.interior.errors?.required" class="required">*Silahkan upload foto tampak interior
              kendaraan anda
            </div>
          </div>
        </label>
        <input type="file" formControlName="interior"
               [ngClass]="{ 'is-invalid': detailKendaraan_step && detail.interior.errors }"
               (change)="onChangeTampakInterior($event)"/>


        <label class="form-label">Tampak Dashboard
          <div *ngIf="detailKendaraan_step && detailKendaraan.controls.dashboard.errors">
            <div *ngIf="detail.dashboard.errors?.required" class="required">*Silahkan upload foto tampak dashboard
              kendaraan anda
            </div>
          </div>
        </label>
        <input type="file" formControlName="dashboard"
               [ngClass]="{ 'is-invalid': detailKendaraan_step && detail.dashboard.errors }"
               (change)="onChangeTampakDashboard($event)"/>

        <label class="form-label">Harga Jual
          <div *ngIf="detailKendaraan_step && detailKendaraan.controls.hargakonsumen.errors">
            <div *ngIf="detail.hargakonsumen.errors?.required" class="required">*Harga jual wajib diisi</div>
          </div>
        </label>
        <input type="text" formControlName="hargakonsumen" (keyup)="formatRupiah()" id="dengan-rupiah" [(ngModel)]="tempHarga"
                        [ngClass]="{ 'is-invalid': detailKendaraan_step && detail.hargakonsumen.errors }"
                        placeholder="Mis: 120000000"/>
        <div>
          <ngb-alert [dismissible]="false">
            <strong>Peringatan!</strong> Harga yang anda masukkan adalah harga estimasi, penawaran untuk unit anda mungkin lebih tinggi atau lebih rendah
          </ngb-alert>
        </div>


        <input (click)="previous()" type="button" name="previous" class="previous action-button-previous"
               value="Kembali"/>
        <input (click)="next()" type="button" name="next" class="next action-button" value="Selanjutnya"/>


      </fieldset>
      <!--    </form>-->

      <!--    Form 3-->
      <!--    <form [formGroup]="detailContact" id="formTradeIn">-->
      <fieldset *ngIf="step == 3" [formGroup]="detailContact">

        <h2>Upload Detail Contact</h2>


        <label class="form-label">Email
          <div *ngIf="detailContact_step && detailContact.controls.email.errors">
            <div *ngIf="contact.email.errors?.required" class="required">*Silahkan masukkan email anda</div>
          </div>
        </label>
        <input type="email" formControlName="email" [(ngModel)]="dataKonsumen.email"
               [ngClass]="{ 'is-invalid': detailContact_step && contact.email.errors }"
               placeholder="Mis: john@gmail.com"/>


        <label class="form-label">Nomor HP
          <div *ngIf="detailContact_step && detailContact.controls.nohp.errors">
            <div *ngIf="contact.nohp.errors?.required" class="required">*Silahkan masukkan nomor HP anda</div>
          </div>
        </label>
        <input type="email" formControlName="nohp" [(ngModel)]="dataKonsumen.nohp"
               [ngClass]="{ 'is-invalid': detailContact_step && contact.nohp.errors }" placeholder="Mis: 081xxxxxxxxx"/>

        <label class="form-label"><strong>Lokasi Kendaraan</strong></label><br>
        <label class="form-label">Provinsi
          <div *ngIf="detailContact_step && detailContact.controls.provinsi.errors">
            <div *ngIf="contact.provinsi.errors?.required" class="required">*Silahkan pilih provinsi anda</div>
          </div>
        </label>
        <!--        <select formControlName="provinsi" [(ngModel)]="selectedProvinsi" (change)="onChangeProvinsi($event)">-->

        <select formControlName="provinsi" [(ngModel)]="dataKonsumen.provinsi" (change)="onChangeProvinsi($event)">
          <option *ngFor="let item of formProvinsi" value="{{item.id}} + {{ item.nama }}">{{item.nama}}</option>
        </select>
        <br>

        <label class="form-label">Kota
          <div *ngIf="detailContact_step && detailContact.controls.kota.errors">
            <div *ngIf="contact.kota.errors?.required" class="required">*Silahkan pilih kota anda</div>
          </div>
        </label>
        <!--        <select formControlName="kota" [(ngModel)]="selectedKota" (change)="onChangeKota($event)">-->
        <select formControlName="kota" [(ngModel)]="dataKonsumen.kota" (change)="onChangeKota($event)">
          <option *ngFor="let item of formKota" value="{{item.id}} + {{ item.nama }}">{{item.nama}}</option>
        </select>
        <br>


        <label class="form-label">Kecamatan
          <div *ngIf="detailContact_step && detailContact.controls.kota.errors">
            <div *ngIf="contact.kota.errors?.required" class="required">*Silahkan pilih kota anda</div>
          </div>
        </label>
        <select formControlName="kecamatan" [(ngModel)]="dataKonsumen.kecamatan">
          <option *ngFor="let item of formKecamatan" value="{{item.id}} + {{ item.nama }}">{{item.nama}}</option>
        </select>
        <br>

        <label class="form-label">Alamat Lengkap
          <div *ngIf="detailContact_step && detailContact.controls.fullalamat.errors">
            <div *ngIf="contact.fullalamat.errors?.required" class="required">*Silahkan masukkan alamat lengkap anda
            </div>
          </div>
        </label>
        <input type="text" formControlName="fullalamat" [(ngModel)]="dataKonsumen.alamatLengkap"
               [ngClass]="{ 'is-invalid': detailContact_step && contact.fullalamat.errors }"/>


        <label class="form-label">Apakah ingin melakukan Trade In</label><br>
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="No Trade"
               formControlName="radioTrad" [(ngModel)]="dataKonsumen.isTrade">
        <label class="form-check-label" for="flexRadioDefault1">&nbsp;Tidak</label><br>

        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="New Car"
               formControlName="radioTrad" [(ngModel)]="dataKonsumen.isTrade">
        <label class="form-check-label" for="flexRadioDefault2">&nbsp;Trade In New Car</label><br>

        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="Used Car"
               formControlName="radioTrad" [(ngModel)]="dataKonsumen.isTrade">
        <label class="form-check-label" for="flexRadioDefault3">&nbsp;Trade In Used Car</label><br>

        <input (click)="previous()" type="button" name="previous" class="previous action-button-previous"
               value="Previous"/>
        <input type="submit" name="submit" class="submit action-button" value="Submit"/>
      </fieldset>
    </form>

  </section>
</div>
